<div class="container col-md-4 col-md-offset-4">
<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="m-3">
    <%= form.label :username %>
    <%= form.text_field :username, class: 'form-control d-block', autofocus: true,  placeholder: 'Username' %>
  </div>

  <div class="m-3">
    <%= form.label :fullname %>
    <%= form.text_field :fullname, class: 'form-control d-block', autofocus: true,  placeholder: 'Username' %>
  </div>

  <div class="field m-3">
    <%= form.label :photo %>
    <%= form.text_area :photo, class: 'form-control d-block', autofocus: true,  placeholder: 'Username' %>
  </div>

  <div class="field m-3">
    <%= form.label :cover_image %>
    <%= form.text_area :cover_image,class: 'form-control d-block', autofocus: true,  placeholder: 'Username' %>
  </div>

  <div class='m-3'>
    <%= link_to 'Have an account? Please log in', root_path %><br/>
    <%= form.submit 'Register', :class => 'btn btn-default btn-lg btn-submit btn-primary my-2' %>
  </div>
<% end %>
</div>